{% extends 'base.html.twig' %}

{% block title %}Translation{% endblock %}

{% block body %}
    <h1>Translation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ translation.id }}</td>
            </tr>
            <tr>
                <th>GermanTranslation</th>
                <td>{{ translation.germanTranslation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_translation_index') }}">back to list</a>

    <a href="{{ path('app_translation_edit', {'id': translation.id}) }}">edit</a>

    {{ include('translation/_delete_form.html.twig') }}
{% endblock %}
