{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
    <script>
        function showTranslation() {
            const germanTranslation = document.querySelector('#german-translation');
            germanTranslation.style.display = germanTranslation.style.display === 'none' ? 'block' : 'none';
        }

    </script>
    <div class="container">
        <h1 class="text-center my-4">Vokabeln lernen</h1>
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Aktuelles Wort-Level: {% if word.progress == 1 %}
                <img src="{{ asset('images/skull.png') }}" height="35px" width="35px"
                     alt="level1"> {% elseif word.progress == 2 %}
                    <img src="{{ asset('images/hurt.png') }}" height="35px" width="35px"
                         alt="level2"> {% elseif word.progress == 3 %}  <img src="{{ asset('images/sad.png') }}"
                                                                             height="35px"
                                                                             width="35px"
                                                                             alt="level3">{% elseif word.progress == 4 %}
                    <img
                            src="{{ asset('images/smiling.png') }}" height="35px" width="35px"
                            alt="level4"> {% elseif word.progress == 5 %}  <img src="{{ asset('images/clapping.png') }}"
                                                                                height="35px"
                                                                                width="35px" alt="level5"> {% endif %}
                    <br></h5>
                <p class="card-text">{{ word.getEnglishWord }}<br>[{{ word.getEnglishDescription }}]</p>
            </div>
        </div>
        <a onclick="showTranslation()" class="btn btn-primary">Übersetzung anzeigen</a>
        <div id="german-translation" class="card text-white bg-primary mb-3" style="display: none;">
            <div class="card-body">
                {% for translation in word.getTranslations %}
                    <p class="card-text">
                        {% if translation.getArticle != null %}
                            {{ translation.getArticle.getName }}
                        {% endif %}
                        {{ translation.getGermanTranslation }}<br>[{{ word.getGermanDescription }}]
                    </p>
                {% endfor %}
            </div>
        </div>
        <a href="{{ path('app_home_learn_correct', {'id':word.id}) }}"><br><img src="{{ asset('images/correct.png') }}"
                                                                                height="50px" width="50px"> </a>
        <a href="{{ path('app_home_learn_false', {'id': word.id}) }}"><img src="{{ asset('images/false.png') }} "
                                                                           height="25px" width="25px"></a>
        <a href={{ path('app_home_learn') }}> &nbsp; <img src="{{ asset('images/right.png') }}" height="35px"
                                                          width="35px"></a>
        <h3>Level Statistik</h3>
        <table>
            <tr>
                <th><img src="{{ asset('images/skull.png') }}" height="35px" width="35px" alt="level1"></th>
                <th><img src="{{ asset('images/hurt.png') }}" height="35px" width="35px" alt="level2">
                </th>
                <th><img src="{{ asset('images/sad.png') }}" height="35px" width="35px" alt="level3">
                </th>
                <th><img src="{{ asset('images/smiling.png') }}" height="35px" width="35px" alt="level4">
                </th>
                <th><img src="{{ asset('images/clapping.png') }}" height="35px" width="35px" alt="level5">
                </th>
            </tr>
            <tr>


                <td align="center">{{ wordsPerLevel[1]|default(0) }}</td>

                <td align="center">{{ wordsPerLevel[2]|default(0) }}</td>

                <td align="center">{{ wordsPerLevel[3]|default(0) }}</td>

                <td align="center">{{ wordsPerLevel[4]|default(0) }}</td>

                <td align="center">{{ wordsPerLevel[5]|default(0) }}</td>


            </tr>

        </table>
        <div>


        </div>
    </div>
{% endblock %}
